body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Sans-Serif;
  font-size: 10px;
  overflow-x: auto;
  overflow-y: scroll;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: none;
}

section {
  overflow-x: hidden;
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: revert;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}