html:has(.productDetails),
body:has(.productDetails) {
  height: 100%;
}

.productDetails {
  height: 100%;
  font-family: 'Roboto', sans-serif;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 360px;
    max-width: 1470px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #dde2e7;

    @media (min-width: 768px) {
      flex-direction: row;
      padding-bottom: 40px
    }
  }
}
