.card {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  transition: background-color 0.3s;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  font-family: "Roboto", sans-serif;
  /* grid-template-columns: auto 4fr 2fr 2fr 2fr 1fr; */
  gap: 10px;
  box-sizing: border-box;
  font-size: 14px;

  @media(min-width: 580px) {
    grid-template-columns: auto 4fr 2fr 2fr 2fr 1fr;
  }

  &:hover {
    background-color: #eceded;
  }
  
  &__icon {
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
  
    &:hover img {
      scale: 1.1;
    }
  }
  
  &__img {
    width: 100%;
    height: 100%;
    transition: scale .3s;
    object-fit: contain;
  }
  
  &__prop {
    text-align: center;
  
    &:first-of-type {
      text-align: left;
      font-size: 14px;

      @media(min-width: 1024px) {
        font-size: 16px;
      }
    }
  
    &::first-letter {
      text-transform: uppercase;
    }
  }
  
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
  }
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}