$color-light: #f7fbfa;
$color-dark: #202025;
$color-grey: #5d5d5d;

.productCard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .63rem;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid $color-dark;
  border-radius: 15px;
  color: $color-dark;
  box-shadow: 1px 5px 15px rgba(0, 0, 0, .4);
  transition: box-shadow .3s;

  // @media (min-width: 768px) {
  @media (min-width: 450px) {
    // grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
    grid-template-columns: 30px 30px 2fr 2fr 2fr;
  }

  @media (min-width: 768px) {
    grid-template-columns: 50px 50px 2fr 2fr 2fr;
  }

  &:not(:last-child) {
    margin-bottom: -2px;
  }

  &__mainLink {
    // grid-area: 1 / 1 / 3 / 2;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    display: inline-block;
    box-sizing: border-box;
    margin: -.63rem -.63rem auto -.63rem;
    // max-height: 200px;
    max-width: 100%;

    // @media (min-width: 768px) {
    @media (min-width: 450px) {
      grid-area: 1 / 1 / 3 / 3;
      display: flex;
      align-items: center;
      // width: 100px;
      height: initial;
      // max-height: initial;
      margin: -.63rem 0 -.63rem -.63rem;
      overflow: hidden;
    }

    &>span {
      max-height: 100px;
      // padding: 0 5px;
      overflow: hidden;

      @media (min-width: 420px) {
        // flex: 1 0 70px;
        // max-width: 70px;
        // max-height: 130px;
        // padding: 0 5px;
      }

      @media (min-width: 768px) {
        // flex: 1 0 70px;
        // max-width: 70px;
        // max-height: initial;
        // padding: 0 5px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &:hover {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.7);
  }

  &__name {
    // padding: 0 .63rem;
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.5rem;

    // @media (min-width: 768px) {
    //   padding: .63rem;
    // }

    // @media (min-width: 420px) {
    //   font-size: 1.1rem;
    //   line-height: 1.7rem;
    // }
  }

  &__links {
    grid-area: 1/2/2/4;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    // flex-direction: column;
    gap: .63rem;
    // padding: 0 .63rem;

    // @media (min-width: 768px) {
    @media (min-width: 450px) {
      grid-area: 1 / 3 / 2 / 6;
    }
  }

  &__link {
    position: relative;
    font-size: 1rem;
    transition: color .3s;

    // @media (min-width: 420px) {
    //   font-size: .8rem;
    // }

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: $color-grey;
    }
  }

  &__purchase {
    grid-area: 2 / 1 / 3 / 4;
    // grid-area: 2 / 1 / 3 / 4;

    // @media (min-width: 768px) {
    @media (min-width: 450px) {
      grid-area: 2 / 3 / 3 / 6;
    }
  }

  &__price {
    display: flex;
    align-items: flex-end;
    gap: .5rem;
    font-size: 1rem;

    &_title {
      font-size: .8rem;
    }
  }

  &__delete {
    position: absolute;
    content: '';
    right: -8px;
    top: -8px;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: $color-dark;
    cursor: pointer;
    transform: rotate(45deg);
    transition: background-color .3s;

    &:hover {
      background: #f92e3e;
    }

    &::after,
    &::before {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      width: 60%;
      height: 2px;
      background: $color-light;
      transform: translate(-50%, -50%);
    }

    &::after,
    &::before {
      top: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.purchase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  // @media (min-width: 768px) {
  @media (min-width: 450px) {
    justify-content: flex-start;
  }

  @media (min-width: 1024px) {
    gap: 1rem 3rem;
    // grid-template-columns: 1fr 1fr 2fr 2fr;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;

    // @media (min-width: 420px) {
    //   font-weight: 300;
    // }

    &_title {
      font-size: .8em;
      font-weight: 400;
    }

    &_total {
      flex: initial;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;

      @media (min-width: 768px) {
        flex: initial;
      }

      // @media (min-width: 420px) {
      //   font-size: 1.1rem;
      // }
    }

  }

  // &__amount {
  //   margin-left: auto;
  // }
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .63rem;

  &__btn {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: $color-dark;
    cursor: pointer;
    transition: background-color .3s;

    // @media (min-width: 420px) {
    //   width: 1.2rem;
    //   height: 1.2rem;
    // }

    &:hover {
      background: $color-grey;
    }

    &_decrease::after,
    &_increase::before,
    &_increase::after {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      width: 60%;
      height: 2px;
      background: $color-light;
      transform: translate(-50%, -50%);
    }

    &_decrease::after,
    &_increase::before,
    &_increase::after {
      top: 50%;
    }

    &_increase::before {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &_decrease:disabled {
      opacity: .5;
    }
  }

  &__input {
    width: 70px;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid $color-grey;
    border-radius: 5px;
    box-sizing: border-box;

    // @media (min-width: 420px) {
    //   width: 60px;
    //   font-size: 1rem;
    // }
  }
}